@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --white: #fff;
  --black: #111;
  --blue: #3a80e9;
  --grey: rgb(214, 197, 197);
  --darkgrey: #1b1b1b;
  --green: #0afc2b;
  --red: #f94141;
  --purple: #e822f2;
  --darkblue: #2c10e3;
  --skyblue: #4fcbd6;
  --yellow: #ecec11;
  --darkpink: 	#AA336A;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right,var(--purple),var(--skyblue),var(--darkblue));
  color: var(--white);
}

::selection {
  background-color: var(--blue);
  color: var(--white);
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 10px;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

a {
  text-decoration: none;
  color: var(--white) !important;
}